body {
  font-family: sans-serif, arial, helvetica;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  background-color: grey;
}

.database{
  background: white;
  margin:0px;
  padding:0px;
  color:black
}

.container {
  width: 95%;
  margin-left: 20px;
   overflow: hidden;

}
input{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  height:20px;
  width:133px;
}

h2{
 margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px

}

.h22{
 margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 60px

}


button{
 margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 90px
  height: 20px;
  background: skyblue;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  

}
h3{
  height:5px;
  margin-top:5px;
  
  
  
}
.h33{
  height:5px;
  margin-top:50px;
  margin-bottom:40px
  
 
}

.in{
  margin-left:110px;
  margin-top:10px
  width:200px
}

.container1 {
  width: 25%;
  height:25%;
  margin-left:500;
  margin-top:150px;
  margin-right:150;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: white
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 20px;
  background: grey;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  margin-left:170px;
  margin-top:20px
}

.dark {
  padding: 5px;
  background: brown;
  color: white;
  margin-top: 5px;
  margin-bottom: 60px;
}

header {
  background: skyblue;
  color: white;
  padding-top: 10px;
  padding-bottom:0px;
  min-height: 40px;
  border-BOTTOM: BLACK 5px solid;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px  5px;
}



header #branding h1 {
  margin: 0;
 }

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: rgb(200,100,30);
  font-weight: bold;
  
}

header a:hover {
  color: Blue;
  font-weight: bold;
}

.face {
  min-height: 344px;
  
  background: url('../img/img5.jpg') no-repeat 0-30px;
  text-align:center;
  color: white;

}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 20px;
}

#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 0px;
  color: white;
  background: darkslategrey;
}

#newsletter1 {
  padding: 30px,auto;

  color: white;
  background: darkslategrey;
}


#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 0px;

}

#newsletter input[type="email"] {
  padding: 15px;
  height: 100px;
  width: 250px;
}

#boxes {
  margin-top: 0px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 33.3%;
  padding-top: 45px;
}

#boxes .box img {
  width: 78%;
  border-radius: 10px;
 
}

aside#sidebar {
  float: LEFT;
  width: 60%;
  margin-top: 10px;
}

aside#sidebar .qoute input, aside#sidebar .qoute textarea {
  width: 90%;
  padding: 5px;
}

article#main-col {
  float: left;
  width: 65%;
}

ul#services li {
  list-style: none;
  padding: 20px;
  border: BLACK solid 2px;
  margin-bottom: 5px;
  background: brown;

}

footer {
  padding-top: 75px;
  padding-right: 20px;
  margin-top: 20px;
  color: rgb(200,100,30);
  background-color: skyblue;
  text-align: right;
}

.darkel {
  padding: 5px;
  background: brown;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.motto {
color: white;
style: italics;
background: rgb(200,100,30);
margin-top: 0px;
margin-bottom: 0px;
}

h1 {
margin-top: 0px;
margin-bottom: 0px;
}

footer{
margin-top:0px;

height: 3%
}

.Data1{
color: white;
style: normal;
background: darkslategrey;
margin-top: 0px;
margin-bottom: 0px;
padding-left:10px;
}






newsletter1{
margin-bottom:340px

}


