


body {
  font-family: sans-serif, arial, helvetica;
  font-size: 15px;
  line-height: 1.5;
  margin: 0px 0px;
  background-color:lightslategray;
}


/* hide scrollbar but allow scrolling */
element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ContInput{
  display: inline-block;
  width: 8%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

}

#proj{
  border: none;
  background: skyblue;
  color:white;
  font-weight:bold;
  text-transform: uppercase;
  font-size: 16 px;
  text-decoration: none;
  background-color: transparent;
}

.insert{
  border:
}


#l1{
  height: 3%
}

#l2{
  height: 3%
}

.selected{
  color: brown;
  
}

.alert alert-success{
  background: #7c7c7b;
}

.database{
  background: white;
  margin:5px 10px;
  padding-left:px;

  color:black;
  padding-top: 0px;
}



.databasePL{
  background: white;
  margin:50px 200px;
  padding-left:40px;

  color:black
}

.databaseA{
  background: #7c7c7b;
  margin:px;
  padding-top:2px;
  color:black;
  float:left;
  width:14%
}



.database1{
  background: #7c7c7b;
  margin:0px;
  padding-top:2px;
  padding-right: 4px;
  color:black;
  float:left;
  width:13.%
}

.database2{
  background:#7c7c7b;
  margin:0px;
  padding-top:2px;
  color:black;
  float:left;
  width:18%
}
.database3{
  background: #7c7c7b;
  margin:0px;
  padding-bottom:0px;
  padding-top:2px;
  color:black;
  float:left;
  width:15%
}

.database4{
  background: #7c7c7b;
  margin:0px;
  padding-bottom:0px;
  padding-top: 2px;
  color:black;
  float:left;
  width:11.4%;
  padding-right:0px
}

.database5{
  background: #7c7c7b;
  margin-left:0px;
  margin-right: 0px;
  padding-bottom:0px;
  padding-top: 2px;
  padding-right: 3px;
  color:black;
  float:left;
  width:15.2%
}

.database6{
  background: darkslategrey;
  margin-top:0px;
  margin-bottom: 0px;
  padding-left:10px;
  padding-bottom:0px;
  padding-top: 5px;
  color:black;
  width:20%
}
.database7{
  background: #7c7c7b;
  margin-left:0px;
  padding-bottom:0px;
  padding-top: 2px;
  color:black;
  float:left;
  width:11.904%;
  padding-left: 18px;
}

.database8{
  background: #7c7c7b;
  margin-top:0px;
  margin-bottom: 0px;
  padding-left:10px;
  padding-bottom:0px;
  padding-top: 0px;
  color:black;
  width:28%;
  float:left
   
}

.database9{
  background: skyblue;
  margin-top:0px;
  margin-bottom: 2px;
  padding-left:500px;
  padding-bottom:2px;
  padding-top: 0px;
  color:black;
  width:40%;
  float:right;
  

}
.database10{
  background: #7c7c7b;
  margin-left:0px;
  padding-bottom:0px;
  padding-top: 2px;
  color:black;
  float:right;
  width:8%
}

.database11{
  background: #7c7c7b;
  margin-top:0px;
  margin-bottom: 0px;
  padding-left:10px;
  padding-bottom:0px;
  padding-top: 0px;
  color:black;
  width:72%;
  float:left;

}


.container {
  width: 95%;
  margin-left: 20px;
   overflow: hidden;
   background:skyblue

}

.container0 {
  width: 100%;
  height: 20%;
  margin-left: 0px;
   overflow: hidden;
   background:skyblue;
   color:darkslategrey;
   margin-bottom: 10px;
   

}

.container1 {
  width: 95%;
  margin-left: 0px;
   overflow: hidden;

}

.container5 {
  width: 35%;
  height:25%;
  margin-left:450;
  margin-top:50px;
  margin-bottom:5px;
  margin-right:150;
  padding-bottom: 5px;
  padding-left:55px;
  overflow: hidden;
  background-color: skyblue;
  color:white;
  margin-left: 500px;
}


input{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  height:20px;
  width:100px;
  font-weight:50;
  font-weight:normal;
  color:black
  

}

h1{
  
  text-align:left;
  padding-right: 0px
}
#title{
  text-align:center;
  color:BLACK;
  margin-top: 0px;
  margin-bottom: 0px;
  
  
  BACKGROUND:WHITE
}
h2{
 margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px

}
h6{
  align:right;
}

.h22{
 margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 60px

}


button{
  
  border-color:grey;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:
  height: 100%;
background: none;
  
  padding-left: 5px;
  padding-right: 5px;
  color:skyblue;
  font-weight: bold;
  letter-spacing:1px;
  font-size:inherit
}

a hover:{
  font-weight: bold;
  background:skyblue;
  color: white;
}
.buttonUser{
 margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  background: skyblue;
  border: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  

}


h3{
  height:16px;
  margin-top:5px;
  margin-bottom:25px;
  padding-left: 76px;
  color:white
  
  
  
}

p{
  height:10px;
  margin-top:5px;
  margin-bottom:25px;
  padding-left: 1px;
  color:rgb(200,100,30);
  font-size: 4px
  
  
  
}

.h33{
  height:5px;
  margin-top:15px;
  padding-top: 30px
 
}

.in{
  margin-left:110px;
  margin-top:10px
  width:200px
}

.container1 {
  width: 25%;
  height:25%;
  margin-left:500;
  margin-top:150px;
  margin-right:150;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: skyblue
}

.container2 {
  width: 55%;
  margin-right: 100px;
   overflow: hidden;


}
#picture{
  width:100px
}
}
.container3 {
  width: 60%;
  margin-right:100px;
  text-align: left

}
  .list{
    /* padding:0 80px 20px */
    padding-right: 70px
  }
  
  .container5 {
    width: 35%;
    height:65%;
    margin-left:400;
    margin-right:400;
    margin-top:35px;
    margin-bottom:169px;
    margin-right:150;
    padding-bottom: px;
    padding-left:55px;
    padding-right:55px;
    padding-bottom: px;
    overflow: ;
    background-color: skyblue;
    color:white;
    border-radius: 2%;

  }
  .container6 {
    width: 35%;
    height:40%;
    margin-left:400;
    margin-right:400;
    margin-top:100px;
    margin-bottom:169px;
    margin-right:150;
    padding-bottom: px;
    padding-left:55px;
    padding-right:55px;
    padding-bottom: px;
    overflow: ;
    background-color: skyblue;
    color:white;
    border-radius: 2%;
    margin-left: 500px

  }

  
   
  .container9 {
    width: 45%;
    height:45%;
    margin-left:452px;
    margin-top:70px;
    margin-bottom:169px;
    margin-right:150;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left:35px;
    padding-right: 35px;
    overflow: hidden;
    background-color: skyblue;
    color:rgb(5,68,104);
    border-radius: 2%;
    font-family: 'Open Sans', sans-serif;

  }
  
#name{
  width:162%;

}
#email{
  width:162%
}
#username{
  width:200%
}
#password{
  width:162%
}
#password2{
  width:162%
}

#Projname{
  width:162%
}

  
  ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 20px;
  background: snow;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 5px;

  color: darkslategrey;
  margin-right:55px;
  margin-left: 333px;
  margin-top:-17px

}

.toggle{
margin-left: 0px;
margin-right: 0px;
padding-right: 1px;
}

.dark {
  padding: 5px;
  background: brown;
  color: white;
  margin-top: 5px;
  margin-bottom: 60px;
}

header {
  background: skyblue;
  color: white;
  padding-top: 0px;
  padding-bottom:0px;
  min-height: 40px;
  border-BOTTOM: BLACK 0px solid;
}

header a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 16px;
  font-weight:bold
}

header li {
  float: left;
  display: inline;
  padding: 0 20px  5px;
}



header #branding h1 {
  margin: 0;
 }

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: rgb(200,100,30);
  font-weight: bold;
  margin-left:20px;
  font-size: 30px;
  
}


.highlight1 
{
  color: rgb(200,100,30);
  font-weight: bold;
  margin-left:10px;
  margin-top:0px;
  font-size: 30px
  
}


.map 
{
  color: darkslategray;
  font-weight: bold;
  text-align: center;
  margin-top:15px;
  font-size: 20px;
  padding-bottom: 2px;
  padding-top: 30px

  
}


.highlight2 
{
  color: white;
  font-weight: normal;
  margin-left:20px;
  margin-top:0px;
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif;
  
  
}

highlight3 
{
  color:white;
  font-weight: bold;
  margin-left:10px;
  margin-top:0px;
  font-size: 30px
  
}
.highlight4
{
  color: #6db7a9
}

.highlight5
{
  color: rgb(5,68,104);
  font-weight: normal;
  margin-left:5px;
  margin-top:0px;
  font-size: 30px;
  


header a:hover {
  color: rgb(200,100,30);
  font-weight: bold;
  
}

#proj:hover {
  color: rgb(200,100,30);
  font-weight: bold;
  
}

/* button:hover { */
  color: white;
  font-weight: bold;
  /* background:darkslategray; */

}




.contain {
  min-height: 400px;
  background: url('../img/caption.jpg') no-repeat 0 -30px;
  text-align: left;
  color: white;
  
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 20px;

}

#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 0px;
  color: white;
  background: darkslategrey;
}

#newsletter1 {
  padding: 30px,auto;

  color: white;
  background: darkslategrey;
}


#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 0px;

}

#newsletter input[type="email"] {
  padding: 15px;
  height: 100px;
  width: 250px;
  
}

#boxes {
  margin-top: 0px;
}

#boxes .box {
  
  text-align: center;
  width: 50%;
  padding-top: 45px;
  color:white;
  margin-left:300px;
  margin-bottom:20px
}


#boxes1 .box1 {
  float:left;
  
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
  color:white;
  background:#ced5db;
  
  
}


#boxes .box img {
  width: 40%;
  border-radius: 25px;
  height:20px
 
  
}


#box3 img {
  width: 275;
  height:58;
  
}

#form{
  width:247px
}

#boxes1 .box1 img {
  width: 45%;
  border-radius: 50px;
  height: 10%;
  margin: 10px 20px;
  margin-left: 420px;
  
  
}


aside#sidebar {
  float: LEFT;
  width: 60%;
  margin-top: 10px;
}

aside#sidebar .qoute input, aside#sidebar .qoute textarea {
  width: 90%;
  padding: 0px;
}

#comment1{
  margin-left: 300px;
  width: 56%;
}

h2 {
  font-size: 17px;
}  
  
  
}

article#main-col {
  float: left;
  width: 65%;
}

ul#services li {
  list-style: none;
  padding: 20px;
  border: BLACK solid 2px;
  margin-bottom: 5px;
  background: brown;

}

footer {
  padding-top: 75px;
  padding-right: 20px;
  margin-top: 20px;
  color: rgb(200,100,30);
  background-color: white;
  text-align: right;
  
}

.darkel {
  padding: 5px;
  background: brown;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.motto {
color: darkslategrey;
style: italics;
background: white;
margin-top: 0px;
margin-bottom: 0px;
width:100%;

}

.motto1 {
  color: white;
  style: italics;
  background: white;
  margin-top: 0px;
  margin-bottom: 0px;
  width:100%;
  
  }
.mo {
  color: white;
  style: italics;
  background: skyblue;
  margin-top: 8px;
  margin-bottom: 0px;
  width:100%;
  float:left;
  margin-left:15px
  }
  
h1 {
  font-size: 24px;
}

footer{
margin-top:0px;
background:white

height: 3%
}

.Data1{
color: black;
style: normal;
background: darkslategrey;
margin-top: 0px;
margin-bottom: 0px;
padding-left:0px;
padding-top: 8px;
padding-bottom: 0px;

}

.Data9{
  color: yellowgreen;
  style: normal;
  background: darkslategrey;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left:2px;
  padding-top: 0px;
  padding-bottom: 0px;
  
  
  }
  
newsletter1{
margin-bottom:340px

}

.A{
    width: 19%;
    background: gray;
    color:white;
    text-align: center;
    padding-bottom: 0%;
    padding-top: 0%;
    float:left;
    margin: 5px;
    margin-bottom: 1.2%;
    border-radius: 0%;
    color:white;
    font-size: 14px;
    
    
    
    
    
  

}

.B{
  width: 19%;
  background:greenyellow;
  color:white;
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
  float:left;
  margin: 5px;
  margin-bottom: 1.2%;
  border-radius: 0%;
  color:white;
  font-size: 14px

  


}

.C{
  width: 19%;
  background:rgb(147, 175, 91);
  color:white;
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
  float:left;
  margin: 5px;
  margin-bottom: 1.2%;
  border-radius: 0%;
  color:white;
  font-size: 14px
  
  


}
.D{
  width: 19%;
  background:green;
  color:white;
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
  float:left;
  margin: 5px;
  margin-bottom: 1.2%;
  border-radius: 0%;
  color:white;
  font-size: 14px
  
  


}
.E{
  width: 19%;
  background: brown;
  color:white;
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
  float:left;
  margin: 5px;
  margin-bottom: 1.2%;
  border-radius: 0%;
  color:white;
  font-size: 14px
  


}
.F{
  width: 19%;
  background: darkslategray;
  color:white;
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
  float:left;
  margin: 5px;
  margin-bottom: 1.2%;
  border-radius: 0%;
  color:yellow;
  font-size: 14px
  
  


}

#L1{
  height:3%
  
  
}
#L2{
  height:4%
}
#L3{
  height:5%
}
#L4{
  height:6%
}
#L5{
  height:7%
  
  
}
#L6{
  height:8%
}


#container1{
    margin: 5px auto;
    max-width: 2000px;
}

p{
  color:black;
  font-size: 16;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top:0px;
  margin-bottom:0px;
  font-weight: normal


}

h4{
  color:blask;
  font-size: 10;
  font-family: open sans-serif;
  margin-top:0px;
  margin-bottom:10px;
  margin-left: 5px;
  font-weight: normal;
  text-align: justify;
  font-stretch: semi-expanded;
  line-break: inherit;

  


}
h5{
  color:black;
  font-size: 9;
  font-family: open sans-serif, ;
  margin-top:0px;
  margin-bottom:0px;
  font-weight: normal


}

showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -30px;
  text-align: LEFT;
  color: white;
}

label{
  font-weight:normal;
  color:white
}

.footer{
  margin-left: 900px;
  color:darkslategrey;
  background-color:white;
}

input[type='file']{
  display: inline-block;
}

#commentSec{
  float: right;
  margin: 0px 12px
}
.del{
  
  background-color: grey
}

.del: hover{
  background-color: blue
}
.selected{
  color:rgb(200,100,30);
}
#table{
  margin-bottom: 200px
}
form{
  margin-bottom:0px;
}

#tab{
  margin-bottom: 0px;
}

input[type='file'] {
  display: inline-block;
  
}

.Enginst1{
  max-width:80%;
  padding-left: 90px;
  
  
  
  
}

.Enginst2{
  max-width:200%;
  padding-left: 20px;
  padding-right: 242px;
  text-align: 
  
  
}
.Enginst3{
  /* padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align:justify;
  line-height: 1.5 */
  width: 100%;  
}
.Enginst4{
  
  padding-left: 20px;
  
  
  
  
  
}
.Enginst5{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align:justify
}
.Enginst6{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:justify;
    width: 100%;
}
  .Enginst7{
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      text-align:justify
  } 
  
  .Enginst8{
    
    padding-left: 192px;
    font-weight: bold
    
}    
.conrep{
  max-width:70%;
  padding-bottom: 50px;
  padding-left: 50px;
  display: inline-block;
  padding-left:20px;
  padding-right:20px;
  
}
.tab1{
  
  padding-top: 0px;
  padding-left:50px;
  padding-right:50px;
  max-width:70%;
  width:
  
}

#radd1{
  color:burlywood;
  font-weight: bold;
  text-transform: capitalize
}

#radd2{
  color:burlywood;
  font-weight: bold;
  text-transform: capitalize
}

#PRN{
  background:#7c7c7b;
  color:skyblue;
  font-style: bold
}

}

.instTabel {
  min-width: 100%; 
}

hr {
  margin-top: 55px;
  border: 2;
  border-top: 1px solid #333;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #333;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #333;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.table {
  margin-bottom: 0px;
}

.loguser{
  width: 160%;
}

.logpass{
  width: 160%;
}

.select{
  width: 50%;
}


h2{
  color:skyblue
  text-align: center
}

.project{

  padding-top: 5px;
}

.fo{
  border-radius: 5px;
}


**Sidebar CSS**


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
    width: calc(100% 0px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: rgb(7, 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}

body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}
